h1{
   font-weight: bold;
   background-color: red;
   text-align: center;
    border-style: solid;
}

body{
 color:lightblue;
}

h2{
   margin-left: 20px;
   color:darkblue;
}

h3{
   font-family: "Arial", sans-serif;
   text-align: left;
   word-spacing: 100px;
   color:darkgreen;
}

img{
    border-style: solid;
    border-color: blue;
    border-radius: 50px;
    height: 300px;
    width: 600px;
    margin-left: 70px;
 }
